html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', 'San Francisco', 'Helvetica Neue', 'Segoe UI', 'Ubuntu', sans-serif;
}

main {
  max-width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 100px auto;
}

label, input {
  display: block;
}

input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.5em;
}

button {
  margin: 20px auto;
  border: none;
  background: rgb(30, 214, 0);
  border-radius: 4px;
  transition: opacity 0.1s ease-in;
  color: white;
  padding: 1em;
  cursor: pointer;
}

button:hover, button:active {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  background: gray;
}

.choices {
  display: flex;
}

.choices > div {
  flex: 1;
}
